In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./salaries.csv')

In [3]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
features = df.drop('salary_more_then_100k',axis='columns')

In [5]:
features.head(3)

  company               job     degree
0  google   sales executive  bachelors
1  google   sales executive    masters
2  google  business manager  bachelors

In [6]:
target = df['salary_more_then_100k']

In [7]:
target.head(3)

0    0
1    0
2    1
Name: salary_more_then_100k, dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le_com = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [11]:
features['company_le'] = le_com.fit_transform(features['company'])
features['job_le'] = le_com.fit_transform(features['job'])
features['degree_le'] = le_com.fit_transform(features['degree'])

In [12]:
features.head(3)

  company               job     degree  company_le  job_le  degree_le
0  google   sales executive  bachelors           2       2          0
1  google   sales executive    masters           2       2          1
2  google  business manager  bachelors           2       0          0

In [13]:
final_features = features.drop(['company','job','degree'],axis='columns')

In [15]:
final_features.head(3)

   company_le  job_le  degree_le
0           2       2          0
1           2       2          1
2           2       0          0

In [16]:
from sklearn import tree

In [17]:
model = tree.DecisionTreeClassifier()

In [18]:
model.fit(final_features,target)

DecisionTreeClassifier()

In [19]:
model.score(final_features,target)

1.0

In [22]:
model.predict([[2,0,1]])

/usr/local/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])